.place__title {
  margin: 0px;
  padding: 0px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 950px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }  
}
@media screen and (max-width: 768px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
  }  
}
@media screen and (max-width: 750px) {
  .place__title {
    padding: 0px 16px;
}