.intro__list {
  margin: 0px;
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  list-style-type: none;
  padding: 33px 0px 0px;
}
@media screen and (max-width: 320px) {
  .intro__list {
    padding-top: 34px;
  }
}