.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 0px;
  margin: 56px 148px 0px;
}
@media screen and (max-width: 1024px) {
  .lead {
    margin: 48px 48px 0px;
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    margin: 48px 0px 0px;
    max-width: 768px; 
  }
}
@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
  }
}