.cover__subtitle {
  z-index: 10;
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 360px;
  height: 66px;
  font-size: 18px;
  line-height: 22px;
}
@media screen and (max-width: 1024px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }  
}