.header {
  max-width: 1184px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 28px 48px 0px;
  justify-content: space-between;
}
@media screen and(max-width: 768px) {
  .header {
    padding: 28px 24px 0px;
  }
}
@media screen and(max-width: 768px) {
  .header {
    padding: 30px 16px 0px;
  }
}