.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-style: normal;
  font-size: 96px;
  line-height: 100px;  
  text-align: center;
  margin: 0px;
}

@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}
@media screen and (max-width: 320px){
  .lead__title {
    max-width: 288px;
  }
}