.footer__links {
  display: flex;
  margin: 0px;
  padding: 0px;
}
@media screen and (max-width: 720px) {
  .footer__links {
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    padding: 0px 24px 24px;

  }  
}