.footer__links {
  display: flex;
  margin: 0px;
  padding: 0px 48px 24px;
  justify-content: space-between;
  min-width: 466px;
}
@media screen and (max-width: 680px) {
  .footer__links {
    flex-direction: column;
    padding-bottom: 48px;
  }
}