.place__paragraph {
  display: block;
  padding: 0px 0px 26px;
  margin: 0px;
}
@media screen and (max-width: 768px) {
  .place__paragraph {
    padding: 0px 16px 25px;
  }
}
.place__paragraph:last-child {
  padding-bottom: 0px;
}