.footer__copyright {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}
@media screen and (max-width: 680px) {
  .footer__copyright {
    line-height: 14px;
    text-align: left;
  }
}
