.cover {
  position: relative;
  margin: 12px 48px 92px;
  background-image: url("../../images/cover-background.jpg");
  background-position: center;
  background-size: fill;
  max-height: 740px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0px 0px 80px;
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    padding: 10px auto 88px;
    max-width: 768px;
  }
}
@media screen and (max-width: 320px) {
  .cover {
    padding: 0px auto 64px;
    max-width: 320px;
  }
}