.place__website {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
@media screen and (max-width: 750px) {
  .place__website {
    padding: 0px 16px;
  }
}